.divHomeIndexContent {
    flex-direction: column;
    top: 0;
    left: 0px;
    padding-left: 12rem;
}
/*首頁封面*/
.jumbotron {
    background-image: url(img/Froncover/indexcover.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: inherit;
    height: 350px;
}
.jumbotron h1 {    
    color: white;
}
.jumbotron p {
    color: #fff3de;
}
.container h4 {
    font-family: Courier New;
}

/*首頁系統div*/
.homeDiv {
    border: solid;
    border-radius: 25px;
    border-color: #d0d0d0;
    margin: 10px 0 10px 0;
}

.homeDiv a {
    display: block;
    height: 94px;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Microsoft JhengHei; /*微軟正黑體*/
}


/*上傳檔案介面*/
#UploadArea {
    width: 100%;
    min-height: 85vh;
    padding: 10px;
    border: 1px #ccc dashed;
    float: left;
    margin-right: 10px;
}

#UploadArea img {
    max-height: 200px;
    max-width: 200px;    
}

.uploadContent {
    height: 200px;
    width: 200px;
    margin: 10px;
    position:relative;
    display:inline-block;
}

.uploadContent-Empty{
    display:inline-block;
    margin: 10px;
}

.uploadDocDiv {
    display: inline-block;
    width: 150px;
    margin: 10px;
}

.uploadDocDiv img {
    width: 100%;
    display: block;
    margin: 0px;
}

.uploadDocDiv p {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.loading::after {
    position: absolute;
    content: '';
    top: 60%;
    left: 50%;
    margin: -1.71em 0 0 -1.71em;
    width: 3em;
    height: 3em;
    animation: segment-spin .5s linear;
    animation-iteration-count: infinite;
    border-radius: 500em;
    border-color: #666 rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.1);
    border-style: solid;
    border-width: .21em;
    box-shadow: 0px 0px 0px 1px transparent;
    visibility: visible;
    z-index: 12;
}

@keyframes segment-spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

/*相簿List頁*/
.albumDiv {
    display: block;
    height: 165px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.albumDiv a {
    display: block;
    height: 165px;
    padding-bottom: 20px;
}

.albumDiv span {
    bottom: -5px;
}

/*建立相簿*/
.createAlbumBody {
    background: rgba(169, 169, 169, 0.18);
    overflow: hidden;
}

.createAlbumDiv {
    height: 100px;
    margin-bottom: 5px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}

.frontCover {
    width: 80px;
    height: 80px;
    border: dashed 2px;
    overflow: hidden;
}

    .frontCover div {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

    .frontCover img {
        width: 70px;
        height: 70px;
        margin: 3px;
    }

.createAlbumBottom {
    padding-top: 20px;
}


#NotJoinedPic {
    border: dotted 2px;
    height: 75vh;
    overflow-y: scroll;
}

#JoinedPic {
    border: dotted 2px;
    border-left: inherit;
    height: 75vh;
    overflow-y: scroll;
}

#txtTitle {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}

/*相簿Content頁*/
.albumContentDiv {
    margin-bottom: 10px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

    .albumContentDiv a {
        display: block;
        height: 165px;
    }

/*文件檢視*/
.docViewDiv {
    display: block;
    height: 160px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

    .docViewDiv a {
        display: block;
        height: 160px;
        padding-bottom: 20px;
        text-align: center;
    }

    .docViewDiv .docViewA p {
        display: block;
        position: absolute;
        left: 15px;
        bottom: -25px;
        width: 90%;
    }

/*圖片系統*/
.picEditDiv {
    border: outset;
    border-radius: 7px;
    margin-bottom: 10px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.picViewDiv {
    border: ridge;
    border-radius: 7px;
    margin-bottom: 10px;
    height: 165px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

    .picViewDiv:hover {
        border: outset;
    }

    .picViewDiv a {
        display: block;
        height: 165px;
    }

.NotEnable {
    opacity: 0.5;
}

/*所有使用者連結*/
.accountLinkRow {
    margin-bottom: 20px;
}

.accoutCover img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.accountIntroduction {
    color: black;
    font-size: small;
}

/*個人資料設定*/
.settingTitle {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    cursor: pointer;
    border: solid 1px;
    background-color: rgba(144, 135, 135, 0.1);
}

.bookMarkSelect {
    background-color: white;
}

.markDiv {
    color: white;
    margin:20px 0;
}

.settingContent h4 {
    font-family: Emilys Candy;
}

.settingContent {
    font-family: Courier New;
}

/*選擇個人照*/
.selectCover {
    height: 650px;
    overflow-y: scroll;
}

.coverImg {
    display: block;
    margin-bottom: 10px;
}

/*MENU*/
.menuAccount {
    color: white;
    border: solid;
    border-radius: 14px;
    background: #2e4356;
    border-color: #2e4356;
}

    .menuAccount a {
        color: white;
    }

/*通用*/
.center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*系統分頁連節*/
.pagination-container {
    color: white;
}

    .pagination-container ul li a {
        color: white;
    }

/*通知*/
.noticeDiv {
    border-bottom: solid 1px;
    border-color: darkgray;
    margin-bottom: 5px;
}

    .noticeDiv img {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        margin-right: 10px;
    }

.noticeDate {
    text-align: right;
    margin-bottom: 0px;
}

.settingAccountCover {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.settingAccountCover img {
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.settingIndexCover img {
    width: 600px;
}

@media (min-width: 1280px) {
    .systemGroup {
        margin-top: 90px;
    }

    #mainMenu {
        text-align: center;
        position: fixed;
        /*position:inherit;*/
        top: 0;
        left: 0;
        display: flex;
        width: 12rem;
        height: 100vh;
        padding: .5rem 1rem;
        flex-direction: column;
        z-index: 1030;
        background-color: black;
    }

    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .nav li {
        margin-bottom: 10px;
    }

    .nav li a {
        color: #00ffc4;
        font-family: 'Playball', cursive;
        color: white;        
    }

    .navbar-brand {
        color: white;
        font-family: Emilys Candy;
        font-size: 85px;
    }

    .navbar-toggler{
        display:none;
    }

    /*上方功能列*/
    .topBar {
        top: 0;
        position: fixed;
        z-index: 1020;
        background-color: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        margin-left: 0px;
        right: 0px;
        width: 100%;
        padding-left: 12rem;
    }

   .topBar h2 {
       padding-left: 20px;
       font-family: Courier New;
       color: #50ce65;
   }


    /*首頁*/
    .container {
        padding-left: 100px;
    }

    .systemContainer {
        padding-left: 12rem;
    }
    .indexAccountCover {
        background-color: white;
        width: 200px;
        height: 200px;
        top: 300px;
        left: 50px;
        border-radius: 100%;
    }
    .indexAccountCover img{
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
    .indexTrack {
        position: absolute;
        top: 280px;
        left: 500px;
    }

    /*Album System*/
    .albumDiv a p {
        position: absolute;
        left: 25px;
        bottom: 5px;
        color: #51d3da;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        font-family: Microsoft JhengHei; /*微軟正黑體*/
        font-weight: bold; /*粗體*/
    }

    /*Document System*/
    .docViewDiv p {
        position: absolute;
        left: 25px;
        bottom: 5px;
        color: #51d3da;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        font-family: Microsoft JhengHei; /*微軟正黑體*/
        font-weight: bold; /*粗體*/
    }
}

@media (min-width: 720px) and (max-width: 1199px) {
    .divHomeIndexContent {
        padding-left: 0rem;
    }

    .systemGroup {
        margin-top: 250px;
    }

    /*Menu*/
    #mainMenu {
        z-index: 1040;
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: black;
    }

    .navbar-collapse {
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

        .navbar-collapse .navbar-nav {
            flex-direction: column;
            width: 100%;
        }

    .nav li a {
        color: #00ffc4;
        font-family: Courier New;
        color: white;
    }

    .navbar-brand {
        color: white;
        font-family: Emilys Candy;
        font-size: 40px;
    }

    /*上方功能列*/
    .topBar {
        position: fixed;
        z-index: 1020;
        background-color: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 103%;
        top: 89px;
    }

    .topBar h2 {
        padding-left: 20px;
        font-family: Courier New;
        color: #50ce65;
    }

    /*首頁*/
    .container {
        padding-left: 0px;
    }

    .systemContainer {
        padding-left: 0rem;
    }
    .indexAccountCover {
        background-color: white;
        width: 200px;
        height: 200px;
        top: 300px;
        left: 50px;
        border-radius: 100%;
    }
    .indexAccountCover img{
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 200px;
        border-radius: 100%;
    }
    .indexTrack {
        position: absolute;
        top: 250px;
        left: 250px;
    }

    /*Album System*/
    .albumDiv a p {
        position: absolute;
        left: 160px;
        bottom: 5px;
        color: #51d3da;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        font-family: Microsoft JhengHei; /*微軟正黑體*/
        font-weight: bold; /*粗體*/
    }

    /*Document System*/
    .docViewDiv p {
        position: absolute;
        left: 25px;
        bottom: 5px;
        color: #51d3da;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        font-family: Microsoft JhengHei; /*微軟正黑體*/
        font-weight: bold; /*粗體*/
    }
}

@media (min-width: 360px) and (max-width: 719px) {
    .divHomeIndexContent {
        padding-left: 0rem;
    }

    .systemGroup {
        margin-top: 250px;
    }

    /*Menu*/
    #mainMenu {
        z-index: 1040;
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .navbar-collapse {
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

        .navbar-collapse .navbar-nav {
            flex-direction: column;
            width: 100%;
        }

    .nav li a {
        color: #00ffc4;
        font-family: Courier New;
    }

    .navbar-brand {
        color: white;
        font-family: Emilys Candy;
        font-size: 40px;
    }

    /*上方功能列*/
    .topBar {
        position: fixed;
        z-index: 1020;
        background-color: white;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        width: 103%;
        top: 89px;
    }

    .topBar h2 {
        padding-left: 20px;
        font-family: Courier New;
        color: #50ce65;
    }

    /*首頁*/
    .container {
        padding-left: 0px;
    }

    .systemContainer {
        padding-left: 0rem;
    }
    .indexAccountCover {
        background-color: white;
        width: 150px;
        height: 150px;
        top: 300px;
        left: 50px;
        border-radius: 100%;
    }

    .indexAccountCover img {
        background-repeat: no-repeat;
        background-position: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    .indexTrack {
        position: absolute;
        top: 300px;
        left: 65px;
    }

    /*Album System*/
    .albumDiv a p {
        position: absolute;
        left: 110px;
        bottom: 5px;
        color: #51d3da;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        font-family: Microsoft JhengHei; /*微軟正黑體*/
        font-weight: bold; /*粗體*/
    }

    /*Document System*/
    .docViewDiv p {
        position: absolute;
        left: 25px;
        bottom: 5px;
        color: #51d3da;
        width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0px;
        font-family: Microsoft JhengHei; /*微軟正黑體*/
        font-weight: bold; /*粗體*/
    }
}

